.registerContainer {
  width:100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  /* background-color: red; */
} 

.innerRgContainer{
width: 40%;
border: 1px solid gray;
padding: 20px;
}  

.rgText{
  margin-top: 10px;
}